/* variables */
@import '/src/assets/scss/core/variables';
/* fonts */
@import '/src/assets/scss/core/fonts';
/* components */
@import '/src/assets/scss/components/index';

body {
  font-family: $font-stack;
  margin: 0;
  color: $color-text-main;
}

.wrapper {
  width: 1224px;
  margin: 0 auto;
  display: flex;
}

.button-wrapper {
  text-decoration: none;
  display: flex;
}

.ads {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.review {
  font-size: 16px;
  line-height: 19px;
  color: $color-text-secondary;
}

.header {
  &__wrapper {
    min-height: 62px;
    align-items: center;
  }

  &__button {
    width: 127px;
    height: 27px;
    font-size: 15px;
    line-height: 19px;

    &-wrapper {
      margin-left: auto;
    }
  }
}

.promo {
  background: url('../images/Rectangle.png') no-repeat;
  background-position: bottom;

  &__wrapper {
    padding: 81px 0 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__feedback {
    position: absolute;

    &_first {
      top: 133px;
      left: 35px;
    }

    &_second {
      top: 282px;
      right: 70px;
    }

    &_third {
      top: 495px;
      right: 85px;
    }

    &_fourth {
      top: 482px;
      left: 18px;
    }
  }

  &__comment {
    left: 49px;
    bottom: 267px;
    position: absolute;
  }

  &__review {
    max-width: 356px;
    margin: 0 0 14px;
  }

  &__title {
    max-width: 480px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin: 0 0 51px;
  }

  &__subtitle {
    max-width: 517px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 40px;
    color: $color-text-secondary;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__button {
    width: 246px;
    height: 33px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;

    &-wrapper {
      margin-bottom: 75px;
    }
  }

  &__example {
    display: flex;
    width: 400px;
    height: 603px;

    &-wrapper {
      margin: 0 0 26px;
    }
  }

  &__ads {
    max-width: 581px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 7px;
    margin: 0 0 30px;
  }

  &__partners {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.features {
  background: $color-features-background;
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper {
    padding: 68px 0 70px;
    flex-direction: column;
    align-items: center;
  }

  &__ads {
    max-width: 603px;
    margin: 0 0 38px;
  }

  &__button {
    width: 246px;
    height: 33px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 16px;
  }

  &__rank {
    width: 80px;
    height: 16px;

    &-container {
      display: flex;
      margin: 0 0 32px;
    }
  }

  &__review {
    max-width: 361px;
    margin: 0;
    text-align: center;
  }
}

.management {
  background: $color-text-main;
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 48px;
    line-height: 54px;
    max-width: 596px;
    color: $color-white;
    text-align: center;
    font-weight: normal;
  }

  &__image {
    width: 100%;

    &-container {
      display: flex;
      max-width: 1224px;
    }
  }
}
