.button {
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: $color-button-hover;
    color: $color-white;
  }
}

.--light {
  color: $color-button-main;
  background-color: $color-button-secondary;
}

.--blue {
  color: $color-white;
  background-color: $color-button-main;
}
