.feature {
  &__card {
    display: flex;

    &-wrapper {
      background: $color-white;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_colored {
        background: linear-gradient(to bottom, #97f1d6, #ebab89);
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
    row-gap: 40px;
  }

  &__description {
    padding: 32px;
    font-size: 30px;
    line-height: 36px;
    max-width: 351px;

    &_bold {
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;

    &-container {
      width: 600px;
      height: 100%;
      display: flex;
    }
  }
}
