.pricing {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: 0 0 105px;
    width: 100%;

    @media (max-width: 1284px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 0 50px;
    }

    @media (max-width: 636px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 0 30px;
    }
  }

  &__card {
    text-decoration: none;
    color: unset;

    &-wrapper {
      border-radius: 24px;
      border: 1px solid #dee1ea;
      padding: 25px 25px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.3s ease-in-out;
    }

    &-title {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 20px;
      transition: color 0.3s ease-in-out;

      @media (max-width: 1052px) {
        font-size: 30px;
        line-height: 35px;
      }
    }

    &:hover {
      .pricing {
        &__card-wrapper {
          background-color: $color-button-main;
        }

        &__card-title,
        &__price,
        &__term {
          color: $color-white;
        }

        &__card-button {
          background-color: $color-button-hover;
          color: $color-white;
        }
      }
    }
  }

  &__price {
    font-size: 64px;
    line-height: 68px;
    color: $color-button-main;
    margin: 0 0 13px;
    transition: color 0.3s ease-in-out;

    @media (max-width: 1052px) {
      font-size: 37px;
      line-height: 42px;
    }
  }

  &__term {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
    color: $color-text-secondary;
    transition: color 0.3s ease-in-out;
  }

  &__info {
    border-radius: 16px;
    background: #f6f7fb;
    padding: 12px 16px;
    margin: 0 0 40px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 1052px) {
      margin: 0 0 20px;
    }

    &_bold {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__projects {
    margin: 0 0 24px;
  }

  &__projects,
  &__retention {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__card-button {
    width: 100%;
    max-width: 274px;
    height: 30px;
    font-size: 16px;
    line-height: 19px;
    margin: 0;

    @media (max-width: 1052px) {
      height: 38px;
      font-size: 18px;
    }
  }
}
