/* fonts */
$font-stack: Inter, sans-serif;

/* colors */
$color-text-main: #060d25;
$color-text-secondary: #59617d;
$color-button-main: #485bff;
$color-button-secondary: #edefff;
$color-button-hover: #ee6c4d;
$color-white: #ffffff;
$color-features-background: #ffc6f7;

/* wrapper width */
$desktop-width: 1224px;
$desktop-small-width: 992px;
$tablet-width: 768px;
$tablet-small-width: 576px;
