/* fonts */
$font-stack: Inter, sans-serif;

/* colors */
$color-text-main: #060d25;
$color-text-secondary: #59617d;
$color-button-main: #485bff;
$color-button-secondary: #edefff;
$color-white: #ffffff;
